div{
    background-color: black;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;
}
.H{
    color:white;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
}
.P{
    color: gray;
    font-weight: bold;
    padding-left: 10px;
}